.button {
    width: 100%;
    background-color: orange;
    border: none;
    padding: 3px 0;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    padding-bottom: 3px;
}