.container {
    background-color: #d4e3d4;
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.logo {
    width: 190px;
    height: 72px;
    background-color: #fff;
    font-weight: 600;
    color: #515a72;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 2px solid #515a72;
    font-style: italic;
}

.leftCol {
    display: flex;
    align-items: center;
}